@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 5rem;
    margin: 20px 0;
    font-family: 'Rocher';
    text-align: center;
}