.ant-space-compact {
    justify-content: center;
    margin-top: 20px;
}

.ant-btn {
    height: 45px;
    font-size: 20px;
}

h2,
h4 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.ant-card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1px;
    padding: 15px !important;
}

img {
    height: 100px;
}